:root{
    --azul:#006BA8;
    --link:#00A0EB;
    --gris:#777;
    --texto:#444;
}
*,
*:before,
*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial,  sans-serif;
}
ul,a{
    list-style: none;
    text-decoration: none;
    color:var(--link);
}
body{
    line-height: 1.5;
    color : var(--texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
    color:var(--azul);
}

.logo{
    width: 140px;
    display: block;
    margin: 1em auto;
}
.menu{
    background: var(--azul);
    padding: .5em 0;
}
.menu ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 0 auto;
}
.menu li{
    margin: .2em;
    transition: all .5s;
}
.menu a{
    text-transform: uppercase;
    color:#FFF;
    font-size: .8em;
    line-height: 2.5;
    display: block;
    padding: 0 .7em;
}

.menu li:hover,
.menu .active{
    font-weight: bold;
    background-color: rgba(0, 0, 0, .3);
    
}

.banner-img{
    width: 100%;
    display: block;
    margin: 1em  0 auto;
}
.main-content{
    padding: 0 1em;
    margin: 2.2em auto;
}
.main-footer{
    width: 100%;
    margin-top: auto;
    background: #222;
    text-align: center;
    padding-top: 1em;

}
.main-footer a{
    color:#FFF;
}
.main-footer a:hover{
    text-decoration: underline;
}
.siguenos{
    border-top: 1px solid var(--gris);
    padding-top: .5em;
}
.main-footer p{
    margin-bottom: 1em;
}
.siguenos a{
    font-size: .9em;
    display: block;
    transition: all .5s;
}
.main-sidebar{
    margin: 1em auto;
    text-align: center;
}

.inicio main{
    width: 100%;
}
/* subiendo de 640*/
@media screen and (min-width:620px){
    .menu li{
        margin: 0 1.5em;
    }
    .main-footer .siguenos {
        display: flex;
        justify-content: center;
        padding: 1em 0;
    }
    .main-footer a{
        margin: 0 2em;
    }
    
}
@media screen and (min-width:768px){
    .menu li{
        margin: 0 2em;
    }
    .main-content{
        display: flex;
    }
    .main-sidebar{
        width: 25%;
        padding-left: 1em;
    }
    main{
        width: 75%;
        padding-right: 1em;
    }
}
@media screen and (min-width:1024px){
    .menu li{
        margin: 0 .5em;
        
    }
    .main-content{
        max-width: 1024px;
    }
    .menu{
        background: none;
        margin-left: auto;
    }
    .menu a{
        color: var(--azul);
    }
    .main-header{
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0 1em;
        
    }
    
    .menu li:hover,
    .menu .active{
        
        font-weight: bold;
        background-color: var(--azul);
        
    }
    .menu a:hover, .menu .active{
        color:#FFF;
    }
}