- let pageTitle = 'Inicio'
- let currentPage = 'inicio'
- let siteTitle = 'Creativos ABC'
- let description = 'Bienvenidos a mi página'
- 
    let pages = [
        {
            title:'Inicio',
            url:'/'
        },
        {
            title:'Nosotros',
            url:'nosotros.html'
        },
        {
            title:'Servicios',
            url:'servicios.html'
        },
        {
            title:'Portafolio',
            url:'portafolio.html'
        },
        {
            title:'Contacto',
            url:'contacto.html'
        }
    ]
- let siguenos = true