nav.menu
    ul
        each page in pages
            - page.title.toLowerCase()===currentPage ? active='active' : active=''
            if page.title!=='Inicio'
                li: a(href= page.url class=active)= page.title